*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caudex',sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

:root{
    --bg-color: #FFEADD;
    --second-bg-color:#FF6666;
    --main-color:#FF8989;
    --text-color: #000;
    --big-font:5.3rem;
    --h2-font:4.2rem;
    --p-font:1.1rem;  
}

body{
    background-color: var(--bg-color);
    columns: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: 0.3s;
}

.logo
{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding:10px 20px;
}
.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left:0;
    bottom:-4px;
    transition: ease .40s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size:32px;
    color:var(--text-color);
    z-index:10001;
    cursor:pointer;
    display: none;
}
section{
    padding:120px 15%;
}

.home{
    width: 100%;
    background: url(../img/pic1.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display:grid;
    grid-template-columns: repeat(1,1fr );
    /* align-items: center; */
}
.home-text h1{
    margin:20px 0px 20px;
    font-size:var(--big-font);
}
span{
    color: var(--main-color);
}

.home-text h3{
    font-size:25px;
    margin-bottom: 20px;
}
.home-text h4{
    color:#585c63;
    font-size:20px;
    letter-spacing: 2px;
}
.about_container{
    text-align: center;
}
.about_container h2{
    line-height: 1.2;
}
header.sticky{
    padding: 12px 15%;
    background: var(--main-color);
}
.sticky .navbar a::after{
    background: var(--bg-color);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(370px,auto));
    grid-gap:2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
}
.box img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}
.box a{
    margin-bottom: 15px;
    font-size: var(--p-font);
    text-align: center;
}
.box img:hover{
    transform: scale(1.1);
}
.center{
    text-align: center;
}
.contact{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 3rem;
}
.contact-text h2{
    text-align: center;
}
.contact-text h2{
    font-size:var(--h2-font);
    margin-bottom: 5px;
}
.contact-text p{
    font-size: var(--p-font);
    color:var(--second-color);
    line-height: 30px;
}
.contact form{
    max-width: 100%;
    width:450px;
    position:relative;
}
#information
{
    background: var(--main-color);
}
.main{
    display:flex;
    flex-wrap: wrap;
}
.footer{
    padding:20px 0;
}
.list{
    width:25%;
}
.list h4{
    font-size: 21px;
    color:var(--bg-color);
    margin-bottom:30px;
    position: relative;
}
.list p{
    color: var(--bg-color);
}
.list h4::before{
    content:"";
    position: absolute;
    height:2px;
    width:60px;
    left:0;
    bottom:-10px;
    background: var(--bg-color);
}
.list ul li:not(last-child){
    margin-bottom: 16px;
}
.list ul li a{
    color:#ffffffbf;
    font-size:var(--p-font);
    display:block;
    transition: .3s;
}
.list ul li a:hover{
    color:var(--bg-color);
    transform: translateX(14px);
}
.list.social a{
    height:90px;
    width:90px;
    background: var(--bg-color);
    color:var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:21px;
    border-radius: 15px;
    transition: .3s;
    margin-right: 10px;
}
.list.social a:hover{
    transform: scale(1.1);
}
.end-text{
    text-align:center;
    padding-top: 90px;
}
.end-text p{
    color:var(--bg-color);
    font-size: 14px;
    letter-spacing: 2px;
}

@media (max-width: 1400px){
    header{
        padding:17px 3%;
        transition: .2s;
    }
    header.sticky{
        padding:10px 3%;
        transition: .2s;
    }
    section{
        padding:80px 3%;
        transition: .2s;
    }
    :root{
        --big-font:4.5rem;
        --h2-font:2.3rem;
        --p-font:1rem;
        transition: .2s;
    }
}

@media (max-width: 1040px){
    #menu-icon{
        display: block;
    }

    .sticky #menu-icon{
        color:var(--text-color);
    }
    .home{
        height:88vh;
    }
    .navbar{
        position: absolute;
        top:0;
        right:-100%;
        width:270px;
        height: 120vh;
        background: #1067cc;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:150px 30px;
        transition: 0.5s all;
    }
    .navbar a{
        display:block;
        margin:1.2rem 0;
    }
    .sticky .navbar a{
        color:var(--bg-color);
    }
    .navbar a:hover{
        color:var(--text-color);
    }
    .open{
        right:0;
    }
    .list{
        width: 50%;
        margin-bottom: 12px;
    }
}

@media (max-width: 575px){
    .list{
        width:100%;
    }
    .newsletter form{
        width:350px;
    }
    :root{
        --big-font:3.8rem;
        --h2-font:1.8rem;
        transition: .2s;
    }
    .text{
        text-align: center;
    }
    .home{
        height:85vh;
        transition: .2s;
    }
}
@media (max-width: 1400px){
    header{
        padding:17px 3%;
        transition: .2s;
    }
    header.sticky{
        padding:10px 3%;
        transition: .2s;
    }
    section{
        padding:80px 3%;
        transition: .2s;
    }
    :root{
        --big-font:4.5rem;
        --h2-font:2.3rem;
        --p-font:1rem;
        transition: .2s;
    }
}

@media (max-width: 1040px){
    #menu-icon{
        display: block;
    }

    .sticky #menu-icon{
        color:var(--text-color);
    }
    .home{
        height:88vh;
    }
    .navbar{
        position: absolute;
        top:0;
        right:-100%;
        width:270px;
        height: 120vh;
        background: #1067cc;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:150px 30px;
        transition: 0.5s all;
    }
    .navbar a{
        display:block;
        margin:1.2rem 0;
    }
    .sticky .navbar a{
        color:var(--bg-color);
    }
    .navbar a:hover{
        color:var(--text-color);
    }
    .open{
        right:0;
    }
    .list{
        width: 50%;
        margin-bottom: 12px;
    }
}